{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row h-50 justify-content-center align-items-center">
    <div class="col">
      <h3>Upload your image to generate a caption!</h3>
      <div class="h-25"></div>
      <form action="/upload" method="POST">
        Select image to upload:
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Generate Caption!" name="submit">
      </form>
    </div>
  </div>
</div>
{% endblock %}